*{
    box-sizing: border-box;
}
.content{
    background: url(./bg3.jpg) no-repeat center center fixed ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    color: blanchedalmond;
}
.soft-skills, .hard-skills{
    width: 25%;
    background-color: #ffffff10;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 30px;
    min-height: 80vh;
    border-radius: 15px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
li{
    font-size: 1.5em;
}
.profile{
    position: relative;
    width: 290px;
    height: 400px;
    background: #121212;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    overflow :hidden;
}
.profile::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:url(./Cv.jpg) center / cover ;
    transition: 0.7s ease;
}
.profile::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#121212 6%,transparent);
    opacity: 0;
    transition: 0.7s ease;
    z-index: 1;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 110px;
    text-align: center;
    font-size:  15px;
    font-family: 'poppins', sans-serif;
    opacity: 0;
    transition: 0.7s ease;
    z-index: 1;
}
.links a{
    color: #fff;
    font-size: 21px;
    padding: 5px 13px;
}
.profile:hover .info{
    opacity: 1;
}
.profile:hover::before{
    opacity: 1;
}
.profile:hover::after{
    transform: scale(1.06);
}